anyio
asgiref
certifi==2022.5.18.1
click
fastapi
greenlet
h11
idna
itsdangerous
Jinja2
MarkupSafe
psycopg2
pydantic
python-dotenv
python-multipart==0.0.5
six==1.16.0
sniffio
SQLAlchemy
starlette
typing_extensions
uvicorn
XlsxWriter
