<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Seoreu</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primaryy">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">
                
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <a class="sidebar-brand d-flex align-items-center justify-content-between" href="/">
                            <img class="class=img-profile " src="../static/img/house.png" width="50" height="50">
                        </a>
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <img class="class=img-profile " 
                                src="../static/img/soo.png" width="465" height="600">
                            <div class="col-lg-6">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Change User Info</h1>
                                    </div>
                                    <style>
                                        select {
                                            width: 100%;
                                            height: calc(1.5em + 0.75rem + 2px);
                                            padding: 0.375rem 0.75rem;
                                            font-size: 1rem;
                                            font-weight: 400;
                                            line-height: 1.5;
                                            color: #6e707e;
                                            background-color: #fff;
                                            background-clip: padding-box;
                                            border: 1px solid #d1d3e2;
                                            border-radius: 0.35rem;
                                            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                                        }
                                    </style>
                                    <form class="search_info" action = "/main/change_info_search" method = "post">
                                        <div class="form-group">
                                            User_name :
                                            <select name="name">
                                                {% for name in user_name %}
                                                <option value= {{ name }} >{{ name }}</option>
                                                {% endfor %}
                                            </select>
                                            <hr>  
                                            <input type="submit" value="Search"/>
                                        </div>
                                        
                                    </form>
                                   
                                    {% if employee_number %}
                                    <form class="change_info_do" action = "/main/change_info_do" method = "post">
                                        <div class="form-group">
                                            Employee_number : {{employee_number}}
                                            <input type="text" class="form-control form-control-user"
                                                id="employee_number" name="employee_number" value = {{employee_number}} placeholder="Name" readonly>
                                        </div>
                                        <div class="form-group">
                                            Name : {{name}}
                                            <input type="text" class="form-control form-control-user"
                                                id="name" name="name" value={{name}} placeholder="Name">
                                        </div>
                                        <div class="form-group">
                                            E-mail : {{ email }}
                                            <input type="text" class="form-control form-control-user"
                                                id="email" name="email" value ={{email}} aria-describedby="emailHelp" placeholder="E-mail">
                                        </div>
                                        <div class="form-group">
                                            State : {{ state }}
                                            <select name="state">
                                                <option value="None" selected>==Select==</option>
                                                <option value=True>재직</option>
                                                <option value=False>퇴사</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            Field : {{ field }}
                                            <div></div>
                                            <select name="field">
                                                <option value="None" selected>==Select==</option>
                                                <option value="운영">운영</option>
                                                <option value="개발">개발</option>
                                                <option value="Annotation">Annotation</option>
                                                <option value="아르바이트">아르바이트</option>
                                                <option value="미정">미정</option>
                                            </select>
                                        </div>
                                        <div></div>
                                        <input type="submit" value="변경" class="btn btn-primary btn-user btn-block"/>
                                    </form>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin-2.min.js"></script>

</body>

</html>